.contact-sec {
    background: $red;
}

.contact-text {
    p {
        padding: 0.5rem 0 1.5rem 0;
    }
}

.form {
    input,
    textarea {
        font-size: 1rem;
        width: 100%;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $yellow;
        padding: 0.5rem;
        margin: 1rem 0;
        &::placeholder {
        color: #fff;
      }
    }
    .btn-send {
        padding: 0.8rem 5rem;
        font-size: 1rem;
        border: 0;
        border-radius: 1.5rem;
        background: #fff;
    }
}

.contact-details {
    background: $black;
    color: $text-color;
    h3 {
        color: #fff;
        padding-bottom: 1rem;
    }
    address {
        padding-bottom: 2.5rem;
    }
    li {
        padding-bottom: 0.5rem;
    }
    a {
        color: $text-color;
        padding-left: 1rem;
    }
}

.map {
    max-width: 55rem;
    margin: 0 auto;
    padding: 2rem 0;
}


