.footer {
    text-align: center;
    color: $text-color;
    padding: 7rem 0;
    a {
        color: $text-color;
    }
}

.icon-menu {
    justify-content: center;
    margin-top: 1rem;
    li {
        margin: 0 1rem;
    }
}