*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(385px, 1fr) );
    align-items: center;
}

.sub-grid {
    grid-template-columns: repeat( auto-fit, minmax(257px, 1fr) );
}

.img-font-size {
    font-size: 0;
}

.padding {
    padding: 2.5rem;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.height-100 {
    height: 100%;
}

#highlight {
    color: $yellow;
}