.header {
    position: absolute;
    width: 100%;
    .logo {
        text-shadow: 0 2px 0 #fff;
    }
    div {
        max-width: 70rem;
        margin: 0 auto;
        padding: 1rem 1.8rem;
    }
}

.navbar {
    .active,
    a:hover {
        color: $yellow;
        @media screen and (max-width: 768px){
            background: $red;
            color: #fff;
        }
    }
    a {
        margin-left: 1.5rem;
    }
}

.check-btn,
#check {
    display: none;
}
