.header {
    position: absolute;
    width: 100%;
    .logo {
        text-shadow: 0 2px 0 #fff;
    }
    div {
        max-width: 66rem;
        margin: 0 auto;
        padding: 1rem 1.8rem;
    }
}

.navbar {
    a {
        margin-left: 1.5rem;
    }
}

#highlight {
    color: $yellow;
}
