.hero-sec {
    background: lighten($red, 35%);
    color: $text-color;
}

.hero-img {
    height: 100vh;
}

.hero-text {
    p {
        padding-bottom: 2.5rem;
    }
    h2 {
        color: $black;
        padding: 1rem 0;
    }
    strong {
        font-weight: 700;
    }
}

.btn-hero {
    padding: 0.5rem 2rem;
    font-weight: 700;
    border: 0.2rem solid $black;
    border-radius: 2rem;
    display: inline-block;
}