.project {
    text-align: center;
    a {
        font-size: 3rem;
        color: #fff;
    }
    h3 {
        padding: 1rem 0;
    }
}

.project-sec {
    div:nth-child(1){
        background: $yellow;
    }
    div:nth-child(2){
        background: $red;
    }
    div:nth-child(3){
        background: $black;
    }
    div:nth-child(4){
        color: $text-color;
        h3,
        a {
            color: $black;
        }
    }
}