.project {
    text-align: center;
    a {
        font-size: 3rem;
        color: #fff;
    }
    h3 {
        padding: 1rem 0;
    }
}

.project-1 {
    background: $yellow;
}
.project-2 {
    background: $red;
}
.project-3 {
    background: $black;
}
.project-4 {
    color: $text-color;
    h3,
    a {
        color: $black;
    }
}