body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
    font-size: 14px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: $black;
}