/*====  css reset  ====*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(385px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-grid {
  -ms-grid-columns: (minmax(257px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
}

.img-font-size {
  font-size: 0;
}

.padding {
  padding: 2.5rem;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.height-100 {
  height: 100%;
}

#highlight {
  color: #ECAF4E;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #161616;
}

.header {
  position: absolute;
  width: 100%;
}

.header .logo {
  text-shadow: 0 2px 0 #fff;
}

.header div {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem 1.8rem;
}

.navbar .active,
.navbar a:hover {
  color: #ECAF4E;
}

@media screen and (max-width: 768px) {
  .navbar .active,
  .navbar a:hover {
    background: #FC683E;
    color: #fff;
  }
}

.navbar a {
  margin-left: 1.5rem;
}

.check-btn,
#check {
  display: none;
}

.hero-sec {
  background: #fff2ee;
  color: #aaa;
}

.hero-img {
  height: 100vh;
}

.hero-text p {
  padding-bottom: 2.5rem;
}

.hero-text h2 {
  color: #161616;
  padding: 1rem 0;
}

.hero-text strong {
  font-weight: 700;
}

.btn-hero {
  padding: 0.5rem 2rem;
  font-weight: 700;
  border: 0.2rem solid #161616;
  border-radius: 2rem;
  display: inline-block;
}

.about-text {
  color: #aaa;
}

.about-text h2 {
  color: #161616;
}

.about-text label {
  padding: 0.2rem 0 1.5rem 0;
  display: block;
}

.about-text .first-p {
  padding-bottom: 1rem;
}

.my-skills {
  background: #ECAF4E;
}

.my-skills-text label {
  padding: 1.5rem 0 0.5rem 0;
  font-weight: 700;
}

.my-skills-text label span:nth-child(1) {
  color: #161616;
}

.my-skills-text div {
  width: 100%;
  height: 2px;
}

.my-skills-text .frontend-bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(90%, #000), color-stop(90%, #fff));
  background: linear-gradient(to right, #000 90%, #fff 90%);
}

.my-skills-text .backend-bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #000), color-stop(70%, #fff));
  background: linear-gradient(to right, #000 70%, #fff 70%);
}

.my-skills-text .html-bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, #000), color-stop(80%, #fff));
  background: linear-gradient(to right, #000 80%, #fff 80%);
}

.project {
  text-align: center;
}

.project a {
  font-size: 3rem;
  color: #fff;
}

.project h3 {
  padding: 1rem 0;
}

.project-1 {
  background: #ECAF4E;
}

.project-2 {
  background: #FC683E;
}

.project-3 {
  background: #161616;
}

.project-4 {
  color: #aaa;
}

.project-4 h3,
.project-4 a {
  color: #161616;
}

.experiece-sec, .education-sec {
  background: #FC683E;
}

.experiece-sec label, .education-sec label {
  margin-left: 3rem;
}

.experiece-sec p, .education-sec p {
  padding: 0.5rem 0 1rem 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1rem 0 0.4rem 0;
}

.flex li:nth-child(1) {
  font-size: 1.5rem;
}

.flex li:nth-child(2) {
  padding-left: 1rem;
}

.flex li:nth-child(3) {
  padding-left: 0.3rem;
}

.flex time {
  font-size: 1rem;
  font-weight: 700;
  color: #531301;
}

.education-sec {
  background: #ECAF4E;
}

.education-sec time {
  color: #4c3208;
}

.contact-sec {
  background: #FC683E;
}

.contact-text p {
  padding: 0.5rem 0 1.5rem 0;
}

.form input,
.form textarea {
  font-size: 1rem;
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ECAF4E;
  padding: 0.5rem;
  margin: 1rem 0;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #fff;
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: #fff;
}

.form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  color: #fff;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #fff;
}

.form .btn-send {
  padding: 0.8rem 5rem;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  background: #fff;
}

.contact-address {
  background: #161616;
  color: #aaa;
}

.contact-address h3 {
  color: #fff;
  padding-bottom: 1rem;
}

.contact-address address {
  padding-bottom: 2.5rem;
}

.contact-address li {
  padding-bottom: 0.5rem;
}

.contact-address a {
  color: #aaa;
  padding-left: 1rem;
}

.map {
  max-width: 55rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.footer {
  text-align: center;
  color: #aaa;
  padding: 7rem 0;
}

.footer a {
  color: #aaa;
}

.icon-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.icon-menu li {
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .header {
    position: static;
  }
  /*====  toggle menu  ====*/
  .check-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 999;
    cursor: pointer;
  }
  .check-btn .bar {
    display: block;
    width: 2rem;
    height: 3px;
    border-radius: 1px;
    background: #FC683E;
    margin: 3px 0;
  }
  .flex-toggle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar {
    display: none;
    background: #fffe;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 70vh;
    border-radius: 5px;
    border-radius: 0 0 30px 30px;
  }
  .navbar li {
    text-align: center;
    margin: 5vh 0;
  }
  .navbar li a {
    margin: 0;
    color: #FC683E;
    -webkit-box-shadow: 0 0 30px #aaa;
            box-shadow: 0 0 30px #aaa;
    padding: 0.8rem 2rem;
    border-radius: 1.3rem;
    font-weight: 700;
  }
  #check:checked ~ .navbar {
    display: block;
  }
  #check:checked ~ .check-btn > .bar {
    position: absolute;
    right: 0;
  }
  #check:checked ~ .check-btn > .bar-1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #check:checked ~ .check-btn > .bar-2 {
    display: none;
  }
  #check:checked ~ .check-btn > .bar-3 {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 12px;
  }
}
